.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 45%;
    margin: 50px;
    padding: 10px 5px;
    height: 500px;
    background-color: var(--color-3);
    border-radius: 10px;
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle h1,
.slash-form {
    margin-top: 55px;
    padding: 0px 10px;
    font-size: 15px;
    color: var(--color-4);
    cursor: pointer;
}
.active {
    color: var(--color-4) !important;
    font-size: 30px !important;
}
.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    list-style: none;
}
.login-form input,
.signup-form input {
    height: 45px;
    margin: 11px;
    border-radius: 40px;
    border: none;
}
.login-form input,
.signup-form input {
    width: 80%;
    padding-left: 10px;
}
.signup-btn,
.login-btn {
    margin: 20px;
    width: 20%;
    height: 40px;
    border-radius: 35px;
    border: none;
    background-color: var(--color-4);
    &:hover {
        background-color: var(--color-7);
    }
}
.back-image {
    width: 70px;
    height: 60px;
    margin-left: 20px;
}
.back-text {
    margin-top: -48px;
    margin-left: 40px;
    color: var(--color-0);
}
