.footer-container {
    .footer-set-position {
        color: var(--color-4);
        background-color: var(--color-3);
        height: 140px;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    .footer-structure {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: 90%;
    }
    .copyright {
        height: 10%;
        font-size: 0.7rem;
        margin-left: 1rem;
    }
    .social-links {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        // width: 20%;
        a {
            color: var(--color-0);
            font-style: none;
            &:hover {
                color: var(--color-5);
            }
        }
    }
    .description-column {
        width: 30%;
        div {
            background-color: var(--color-0);
            height: 10px;
            border-radius: 1rem;
            margin-bottom: 0.5rem;
        }
    }
}

@media only screen and (min-width: 720px) {
    .footer-container {
        .copyright {
            margin-left: 2rem;
        }
    }
}
@media only screen and (min-width: 960px) {
    .footer-container {
        .footer-set-position {
            height: 200px;
            padding: 2rem 1rem 1rem 1rem;
        }
        .copyright {
            font-size: 1rem;
            margin-left: 3rem;
        }
        .social-links {
            font-size: 2rem;
        }
        .description-column {
            div {
                border-radius: 1rem;
            }
        }
    }
}
// @media only screen and (min-width: 1140px) {
// }
