.logo-photo {
    width: 60px;
    border: 1px solid var(--color-8);
    border-radius: 10px;
    height: 40px;
    padding: 10px 10px;
}
.add-logo {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--color-0);
    background-color: var(--color-4);

    margin-left: 35px;
    margin-top: -5px;
    padding: 0 !important;
}
